* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 248, 225);
}

.job-container {
  background-color: white;
  margin: auto;
  margin-top: 10px;
  padding: 20px;
  width: 50%;
  height: 190px;
  border: solid 1px lightgray;
  border-left: solid 6px darkblue;
  border-radius: 10px;
  box-shadow: 0 15px 20px -19px rgb(0 0 0 / 20%);
}

.job-container > * {
  margin-top: 8px;
}

.job-description-container {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.job-days-ago {
  font-size: 0.8rem;
  color: rgb(100, 100, 100);
}